* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-wrap: wrap;
  width: 100%vh;
  height: 100%vh;
  background-color: rgb(133, 149, 180);
}
#query {
  width: 100%;
  background-color: rgb(20, 83, 210);
  border-bottom: 2px solid black;
}

input,
button {
  margin-left: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: 2px solid rgb(210, 230, 129);
}
#first {
  white-space: pre;
  background-color: rgb(237, 214, 185);
  width: 100%;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  min-height: 120px;
  height: auto;
  border: 2px solid black;
}
